<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.youxiquan.dao.YxqInstantNewsMapper">
  <resultMap id="BaseResultMap" type="com.youxiquan.pojo.YxqInstantNews">
  <id column="id" jdbcType="BIGINT" property="id" />
  <result column="user_id" jdbcType="BIGINT" property="userId" />
  <result column="game_id" jdbcType="BIGINT" property="gameId" />
  <result column="message" jdbcType="VARCHAR" property="message" />
  <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
  <result column="reply_num" jdbcType="INTEGER" property="replyNum" />
  <result column="status" jdbcType="INTEGER" property="status" />
  </resultMap>
  <resultMap id="BaseResultMap2" type="com.youxiquan.dto.InstantNewsDto">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="game_id" jdbcType="BIGINT" property="gameId" />
    <result column="message" jdbcType="VARCHAR" property="message" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
    <result column="reply_num" jdbcType="INTEGER" property="replyNum" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <collection property="user" ofType="com.youxiquan.pojo.YxqUser">
      <id column="userId" jdbcType="BIGINT" property="id" />
      <result column="username" jdbcType="VARCHAR" property="username" />
      <result column="headUrl" jdbcType="VARCHAR" property="headimgurl" />
    </collection>
    <collection property="game" ofType="com.youxiquan.pojo.YxqGame">
      <id column="gameId" jdbcType="BIGINT" property="id" />
      <result column="game_name" jdbcType="VARCHAR" property="gameName" />
    </collection>
  </resultMap>
  <resultMap id="BaseResultMap3" type="com.youxiquan.dto.InstantNewsAndReplyDto">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="game_id" jdbcType="BIGINT" property="gameId" />
    <result column="message" jdbcType="VARCHAR" property="message" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
    <result column="reply_num" jdbcType="INTEGER" property="replyNum" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <collection property="instantNewsReply2DtoList" ofType="com.youxiquan.dto.InstantNewsReply2Dto">
      <result column="replyMessage" jdbcType="VARCHAR" property="message" />
      <result column="replyUserId" jdbcType="BIGINT" property="userId" />
      <result column="createTime" jdbcType="TIMESTAMP" property="createTime" />
    </collection>
    <collection property="user" ofType="com.youxiquan.pojo.YxqUser">
      <id column="userId" jdbcType="BIGINT" property="id" />
      <result column="username" jdbcType="VARCHAR" property="username" />
      <result column="userHead" jdbcType="VARCHAR" property="headimgurl" />
    </collection>
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, user_id, game_id, message, create_time, end_time, reply_num, status
  </sql>
  <select id="selectByExample" parameterType="com.youxiquan.pojo.YxqInstantNewsExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from yxq_instant_news
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from yxq_instant_news
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from yxq_instant_news
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.youxiquan.pojo.YxqInstantNewsExample">
    delete from yxq_instant_news
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.youxiquan.pojo.YxqInstantNews">
    insert into yxq_instant_news (id, user_id, game_id, 
      message, create_time, end_time, 
      reply_num, status)
    values (#{id,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}, #{gameId,jdbcType=BIGINT}, 
      #{message,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{endTime,jdbcType=TIMESTAMP}, 
      #{replyNum,jdbcType=INTEGER}, #{status,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.youxiquan.pojo.YxqInstantNews">
    insert into yxq_instant_news
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="gameId != null">
        game_id,
      </if>
      <if test="message != null">
        message,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="endTime != null">
        end_time,
      </if>
      <if test="replyNum != null">
        reply_num,
      </if>
      <if test="status != null">
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="gameId != null">
        #{gameId,jdbcType=BIGINT},
      </if>
      <if test="message != null">
        #{message,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null">
        #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="replyNum != null">
        #{replyNum,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.youxiquan.pojo.YxqInstantNewsExample" resultType="java.lang.Long">
    select count(*) from yxq_instant_news
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update yxq_instant_news
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.userId != null">
        user_id = #{record.userId,jdbcType=BIGINT},
      </if>
      <if test="record.gameId != null">
        game_id = #{record.gameId,jdbcType=BIGINT},
      </if>
      <if test="record.message != null">
        message = #{record.message,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.endTime != null">
        end_time = #{record.endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.replyNum != null">
        reply_num = #{record.replyNum,jdbcType=INTEGER},
      </if>
      <if test="record.status != null">
        status = #{record.status,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update yxq_instant_news
    set id = #{record.id,jdbcType=BIGINT},
      user_id = #{record.userId,jdbcType=BIGINT},
      game_id = #{record.gameId,jdbcType=BIGINT},
      message = #{record.message,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      end_time = #{record.endTime,jdbcType=TIMESTAMP},
      reply_num = #{record.replyNum,jdbcType=INTEGER},
      status = #{record.status,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.youxiquan.pojo.YxqInstantNews">
    update yxq_instant_news
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="gameId != null">
        game_id = #{gameId,jdbcType=BIGINT},
      </if>
      <if test="message != null">
        message = #{message,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null">
        end_time = #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="replyNum != null">
        reply_num = #{replyNum,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.youxiquan.pojo.YxqInstantNews">
    update yxq_instant_news
    set user_id = #{userId,jdbcType=BIGINT},
      game_id = #{gameId,jdbcType=BIGINT},
      message = #{message,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      end_time = #{endTime,jdbcType=TIMESTAMP},
      reply_num = #{replyNum,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="selectByInstantNewsInfo" parameterType="string" resultMap="BaseResultMap2">
    SELECT a.*,b.id as userId,b.username,c.id as gameId,c.game_name
    FROM yxq_instant_news as a,yxq_user as b,yxq_game as c
    WHERE
      a.game_id = c.id and a.user_id = b.id
    <if test="search != null and search != ''">
      and (a.id LIKE #{search}
      OR
      b.username LIKE #{search}
      OR
      c.game_name LIKE #{search}
      OR
      message LIKE #{search})
    </if>
    <if test="minDate != null and minDate != '' and maxDate != null and maxDate != ''">
      AND
      a.create_time BETWEEN #{minDate} AND #{maxDate}
    </if>
    ORDER BY
    ${orderCol}
    ${orderDir}
  </select>
  <select id="selectInstantNewsDetailById"  parameterType="java.lang.Long" resultMap="BaseResultMap3">
    SELECT a.*,b.message AS replyMessage,b.create_time AS createTime,b.user_id AS replyUserId,c.id AS userId,c.username,c.headimgurl AS userHead
    FROM yxq_instant_news AS a,(SELECT * FROM  yxq_instant_news_reply ORDER BY create_time ASC) AS b,yxq_user AS c
    WHERE a.id = b.instant_id AND a.user_id = c.id
    AND
	  b.status = 0
    AND a.id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectListByGameId" parameterType="java.lang.Long" resultMap="BaseResultMap2">
    SELECT a.*,b.id as userId,b.username,b.headimgurl AS headUrl,c.id as gameId,c.game_name
    FROM yxq_instant_news as a,yxq_user as b,yxq_game as c
    WHERE
    a.game_id = c.id and a.user_id = b.id
    and
      a.game_id = #{gameId,jdbcType=BIGINT}
    and
      a.status = 0
    order by
      a.create_time desc
  </select>
  <select id="getListByUserId" parameterType="java.lang.Long" resultMap="BaseResultMap2">
    SELECT a.*,b.id as userId,b.username,b.headimgurl AS headUrl,c.id as gameId,c.game_name
    FROM yxq_instant_news as a,yxq_user as b,yxq_game as c
    WHERE
    a.game_id = c.id and a.user_id = b.id
    and
      a.user_id = #{userId,jdbcType=BIGINT}
    and
      a.status = 0
    order by
      a.create_time desc
  </select>
  <select id="getMyselfByUserId" parameterType="java.lang.Long" resultMap="BaseResultMap2">
    SELECT a.*,b.id as userId,b.username,b.headimgurl AS headUrl,c.id as gameId,c.game_name
    FROM yxq_instant_news as a,yxq_user as b,yxq_game as c
    WHERE
    a.game_id = c.id and a.user_id = b.id
    and
      a.user_id = #{userId,jdbcType=BIGINT}
    and
      (a.status = 0
      OR
       a.status = 1)
    order by
      a.create_time desc
  </select>
  <select id="getCountByUserId" parameterType="java.lang.Long" resultType="java.lang.Integer">
    SELECT COUNT(*)
    FROM yxq_instant_news
    WHERE
      user_id = #{userId,jdbcType=BIGINT}
    AND
      (status = 0
      OR
       status = 1)
--     GROUP BY user_id
  </select>
</mapper>